@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor Food Menu</h1>

<p>
        Blazor Restaurant project.
</p>

<div class="page">

    <main>

        <article class="content px-4">
            <div class="table-responsive">

            </div>
        </article>
    </main>

    <footer>
        <article class="content px-4">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <td>
                            <img src="img/Blazor_In_.NET_MAUI.jpg" class="img-fluid" style="width:100%"/>
                        </td>
                    </tr>
                </table>
            </div>
        </article>
    </footer>
</div>